body{
    background-color: #141414;
    font-family: 'Montserrat', serif;}
.container{
    padding: 10px;
    width: 80vw;
    margin: 100px auto;
    border:2px solid rgb(40, 35, 35);
    color:white;
    border-radius: 1.625rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(20, 20, 20,10%)   ;

}
.top{
    position: absolute;
    left:0;
    top:0;
    z-index:-100;
    opacity:80%;
}
.bottom{
    position: fixed; 
    bottom:0;
    right: 0;
    z-index:-100;
    opacity: 80%;
}
h1{
    margin-top:40px;
    text-align: center;
    color:white;
    font-size:50px;
}
form{
    display:flex;
    gap:10px;
    padding: 10px;
    flex-wrap: wrap;
}
form div{
    width:38vw;
    margin-top:10px;
}
form label{
    margin-bottom: 10px;;
    display: block;
}
form input{
    padding: 10px;
    border-radius: 1.625rem;
    border:none;
    outline:none;
    width:500px;
    background-color:rgb(44, 44, 44,33%);
    color:white;
}
form button{
    display: block;
    margin: 30px auto;
    background: #A3F344;
    color: #111;
    border: none;
    padding: 10px 15px;
    border-radius: 1.625rem;
    cursor: pointer;
    width:150px;
    font-size:15px;
}
form select{
    padding:10px;
    width:200px;
    background-color:rgb(44, 44, 44,33%);
    border-radius: 1.625rem;
    color: white;
} 
form textarea{
    width:500px;
    padding:15px;
    background-color:rgb(44, 44, 44,33%);
    border-radius: 2rem;
    color:white;
}
.upload{
    margin:10px 28vw;;
}
.upload input{
    background-color:rgb(44, 44, 44,33%);
}

