<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearby Hospital Locator</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'hospital_style.css') }}">

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <h2>Nearby Hospital Locator</h2>
    
    <div id="map"></div>
    <p id="status">Fetching location...</p>

    <script src="{{ url_for('static', filename = 'hospital_script.js') }}"></script>
</body>
</html>
